

body {
    --Action-Blue: #1992d4;
    --Background-Gray: #e2e8f0;
    --Warning-Yellow: #f0b429;
    --Main-Headings: #111827;
    --secondary-text: #4b5563;

    font-family: 'Roboto';
}

svg {
    height: 30px;
    width: 30px;

}

/* overall grid positioning */
body {  
    height: 100vh;

    display: grid;

    grid-template: 1fr 5fr / 1fr 5fr;
}


/* sidebar */

#side-bar {
    display: grid;

    grid-row: 1 / span 2;
    grid-template-rows: 1fr / 1fr / 1fr;

    background-color: var(--Action-Blue);
    color: white;

    
}

#dashboard-logo {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    gap: 15px;

    padding: 0 25px;
}

#dashboard-logo svg {
    height: 45px;
    width: 45px;

    fill: white
}



.side-bar-contents.one div,
.side-bar-contents.two div {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    gap: 25px;

    font-weight: 700;
    font-size: large;

    cursor: pointer;

    padding: 0 25px;

    transition: 0.1s ease;

    svg {
        fill: white;
    }


   
}

.side-bar-contents.one div:hover, 
.side-bar-contents.two div:hover {
    color: var(--Action-Blue);
    background-color: white;

    svg {
        fill: var(--Action-Blue);
    }
}

#side-bar .wrapper {
    display: grid;
    
    align-content: start;

    gap: 40px;
}
/* header { */

#header {
    display: grid;
    
    grid-area: 1 / 2 / 1 / span 2;

}

#header .wrapper {
    display: grid;

    grid-template-rows: 1fr 2fr;

}

.header-1 {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    

    padding: 30px 75px 30px 55px;
}

.header-1 div {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    img {
        width: 45px;
        height: 45px;

        border-radius: 50%;
    }

    gap: 25px;
}

#search {
    appearance: none;
    -webkit-appearance: none;
    outline: none;

    width: min(800px, 600px);
    height: min(40px, 30px);

    border-radius: 50px;

    background-color: var(--Background-Gray);
    border: 2px solid transparent;

    transition: 0.1s ease-in-out;

    color: var(--Main-Headings);

    padding: 10px 15px 10px 15px;
}

#search::-webkit-search-cancel-button, #search::-webkit-search-decoration {
    display: none;
}

#search:focus {
    width: min(810px, 610px);
    height: min(45px, 35px);

    border: 2px solid var(--Main-Headings);
}
#search::selection {
    background-color: var(--Action-Blue);
    color: white;
}

#search:hover {
    border: 2px solid var(--Main-Headings);
}

.header-2 {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 30px 75px 30px 55px;

}

.header-2 div img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.header-2 div {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    gap: 0px 30px;

    
}

.header-2 div div {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

    line-height: 0;
}

.header-2 >:first-child {
    font-weight: 800;

    p + p {
        font-size: 2rem;
    }
}

.header-2 div + div p {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 1.5rem;

    background-color: var(--Action-Blue);
    color: white;

    border-radius: 50px;
    border: 2px solid transparent;

    width: 120px;

    padding: 10px 20px 10px 20px;

    cursor: pointer;

    transition: 0.1s ease-in-out;
}

.header-2 div + div p:hover {
    background-color: transparent;
    border: 2px solid var(--Action-Blue);
    color: var(--Action-Blue);
}


/* body */
#body {
    display: grid;

    grid-area: 2 / 2 / span 2 / 2;



}
