
body {
    --Action-Blue: #1992d4;
    --Background-Gray: #e2e8f0;
    --Warning-Yellow: #f0b429;
    --Main-Headings: #111827;
    --secondary-text: #4b5563;

    font-family: 'Roboto';

    
}

svg {
    height: 30px;
    width: 30px;

}

/* overall grid positioning */
body {  
    min-height: 100vh;

    display: grid;

    grid-template: 1fr 4fr / 1fr 5fr;
    overflow: scroll;

    
}


/* sidebar */

#side-bar {
    display: grid;

    grid-row: 1 / span 2;
    grid-template-rows: 1fr / 1fr / 1fr;

    background-color: var(--Action-Blue);
    color: white;

    
}

#dashboard-logo {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    gap: 15px;

    padding: 0 25px;
}

#dashboard-logo svg {
    height: 45px;
    width: 45px;

    fill: white
}



.side-bar-contents.one div,
.side-bar-contents.two div {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    gap: 25px;

    font-weight: 700;
    font-size: large;

    cursor: pointer;

    padding: 0 25px;

    transition: 0.1s ease;

    svg {
        fill: white;
    }


   
}

.side-bar-contents.one div:hover, 
.side-bar-contents.two div:hover {
    color: var(--Action-Blue);
    background-color: white;

    svg {
        fill: var(--Action-Blue);
    }
}

#side-bar .wrapper {
    display: grid;
    
    align-content: start;

    gap: 40px;
}
/* header { */

#header {
    display: grid;
    
    grid-column: 2;
    grid-row: 1;

    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.3);

}

#header .wrapper {
    display: grid;

    grid-template-rows: 1fr 2fr;

}

.header-1 {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    

    padding: 0px 75px 0px 55px;
}

.header-1 div {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    img {
        width: 45px;
        height: 45px;

        border-radius: 50%;
    }

    gap: 25px;
}

#search {
    appearance: none;
    -webkit-appearance: none;
    outline: none;

    width: min(800px, 600px);
    height: min(40px, 30px);

    border-radius: 50px;

    background-color: var(--Background-Gray);
    border: 2px solid transparent;

    transition: 0.1s ease-in-out;

    color: var(--Main-Headings);

    padding: 10px 15px 10px 15px;
}

#search::-webkit-search-cancel-button, #search::-webkit-search-decoration {
    display: none;
}

#search:focus {
    width: min(810px, 610px);
    height: min(45px, 35px);

    border: 2px solid var(--Main-Headings);
}
#search::selection {
    background-color: var(--Action-Blue);
    color: white;
}

#search:hover {
    border: 2px solid var(--Main-Headings);
}

.header-2 {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    padding: 0px 75px 0px 55px;

}

.header-2 div img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.header-2 div {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    align-items: center;

    gap: 0px 30px;

    
}

.header-2 div div {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

    line-height: 0;
}

.header-2 >:first-child {
    font-weight: 800;

    p + p {
        font-size: 2rem;
    }
}

.header-2 div + div p {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 1.5rem;

    background-color: var(--Action-Blue);
    color: white;

    border-radius: 50px;
    border: 2px solid transparent;

    width: 120px;

    padding: 10px 20px 10px 20px;

    cursor: pointer;

    transition: 0.1s ease-in-out;
}

.header-2 div + div p:hover {
    background-color: transparent;
    border: 2px solid var(--Action-Blue);
    color: var(--Action-Blue);
}


/* body */
#body {
    display: grid;

    grid-column: 2;
    grid-row: 2;

    background-color: var(--Background-Gray);
}

#body > .wrapper {
    margin: 20px 30px 10px 30px;

    display: grid;
    grid-template-columns:  3fr 1fr;

}

#main-contents > h1{
    grid-template-rows: 1fr 5fr;
    grid-row: 1 / span 2;

    font-size: 1.5rem;
    margin-left: 10px;

}


.card {
    margin: 5px 20px 20px 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: center;
}

.card .wrapper {
    display: grid;
    
    grid-template-columns: 1fr 54.5fr ;
    

    width: 500px;
    height: 225px;

    background-color: white;
    border-radius: 10px;
    

}

.content-group {
    display: flex;

    flex-direction: column;
    justify-content: space-between;

    align-items: flex-start;

    padding: 5px 20px 5px 10px;
}

.icons {
    align-self: flex-end;

    svg {
        transition: 0.2s ease-in-out;
        cursor: pointer;

        
    }

    svg:hover {
        fill: var(--Background-Gray);
    }
}

.yellow-bar {
    background-color: #f0b429;
    border-radius: 10px 0px 0px 10px;

    width: 10px;

}

.content {
    padding: 10px;
}

.content p {
    opacity: 0.7;
}

.content h1 {
    font-size: 1.3rem;
}

#other-info {
    display: grid;
    grid-template-columns: 1fr / 2fr;
}
/* announcement */

#announcements {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;

    grid-area: 1 / 2 / 1 / 2;

    > h1 {
        font-size: 1.5rem;
    }
}

.announcement .wrapper {
    background-color: white;
    padding: 15px;

    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);

}

.announcement-content p{
    opacity: 0.7;

}

.announcement-content h1 {
    font-size: 1.3rem;
    
}

#other-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
/* trending */
#trending h1 {
    font-size: 1.5rem;
}

#trending img {
    width: 45px;
    height: 45px;

    border-radius: 50%;
}

.trending-profiles .wrapper {
    background-color: white;

    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;

    padding: 10px 20px 10px 20px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 10px

    
}

.profile > div {
    opacity: 0.7;
    line-height: 10px;
}

.profile > div p:first-child {
    font-size: 1.3rem;
}